<div>
    <h3 class="page-title">
        角色权限设置
    </h3>

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6 col-xs-6">
                    <span class="panel-heading-title">角色权限设置</span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="dataTable_wrapper table-responsive">
                <table datatable [dtOptions]="dtOptions" class="table table-striped row-border table-hover" id="dataTables"></table>
            </div>
        </div>
    </div>
</div>